:root {
  --font-header: "Roboto", sans-serif;
  --font-main-content: "Oswald", sans-serif;
  --font-paragraph: "Open Sans", sans-serif;
  --bg-header: #d93a10;
  --bg-main-menu: rgb(250, 250, 250);
}

/* ======common======= */
p {
  margin: 0;
  line-height: 1;
}

/* html,
body {
  overflow-x: hidden;
} */

/* ====header==== */
.container-fluid .row.header {
  height: 30px;
  background-color: var(--bg-header);
  font-family: var(--font-header);
}

/* ====nav==== */
.navbar-custom {
  height: 100px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-custom .logo {
  margin-left: 30px;
  height: 100%;
  font-family: "Oswald", sans-serif;
}

.navbar-custom .icon {
  margin-right: 25px;
  height: 100%;
}

.navbar-custom .nav-content {
  gap: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-custom .nav-content p.desc:first-child {
  color: var(--bg-header);
}

.navbar-custom .nav-content p:hover {
  color: var(--bg-header);
}

/* cursor */
.navbar-custom .logo p,
.navbar-custom .nav-content,
.navbar-custom .icon {
  cursor: pointer;
}

/* sticky navbar */
.navbar-custom.sticky-top {
  background-color: white;
  top: 0;
  z-index: 1020;
}

/* position cho shopping */
.icon span.position-absolute {
  width: 22px;
  height: 22px;
  top: -14px;
  right: -9px;
  font-size: 13px;
  background-color: red;
  color: white;
  font-weight: 100;
  border: 1px solid white;
}

/* img - content */
.container-fluid .img-content {
  width: 100%;
  height: 560px;
  max-height: 560px;
  background-size: cover;
  /* padding-bottom: 40px; */
}

.navbar-custom .icon i {
  transition: color 0.2s ease;
}
.navbar-custom .icon i:hover {
  color: var(--bg-header);
}

/* =====main====== */
.container-fluid .text-header .text-center {
  color: var(--bg-header);
  padding: 80px 0 20px;
}

.container-fluid .main-header p.h1 {
  font-family: var(--font-main-content);
  padding-bottom: 13px;
}

/* main-content */
.container-fluid .row.main-content {
  /* height: 640px;
  max-height: 640px; */
  padding: 37px 0 80px;
  gap: 40px;
}

/* icon */
.main-content .main .main-icon .icon {
  width: 50px;
  height: 50px;
}

.main .text-main-content p.h4 {
  font-family: var(--font-main-content);
  margin-bottom: 13px;
  padding-bottom: 0;
}

.main .text-main-content p.desc {
  font-family: var(--font-paragraph);
  padding-bottom: 16px;
  font-size: 14px !important;
}

.main-content .main.d-flex {
  gap: 20px;
  height: 160px;
  width: 350px;
}

/* main menu */
.container-fluid .header-main-menu,
.container-fluid .main-menu {
  background-color: var(--bg-main-menu);
}

.container-fluid .main-menu {
  /* padding-top: 50px; */
  padding: 37px 0 80px 0;
  row-gap: 30px;
}

.row-content .desc-center p.h4 {
  font-size: 20px;
  font-family: var(--font-main-content);
}

.row-content .desc-center p.desc {
  font-size: 14px;
  font-family: var(--font-paragraph);
}

/* wh cho 6 items */
.main-menu .row.row-content .col {
  /* width: 615px; */
  height: 125px;
  /* padding: 0 15px; */
  margin: 0 15px;
  border: 0.8px solid #eeeeee;
}

.main-menu .row .col .desc-center {
  box-sizing: content-box;
  width: 352px;
  height: 77px;
  padding: 0 15px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.row-content .col.d-flex .wd-desc {
  width: 510px;
  height: 100%;
  /* height: 86px; */
}

.row-content .col.d-flex .wd-desc .border-height {
  border: none;
  width: 1px;
  height: 50px;
  border: 0.8px solid #eeeeee;
}

.row-content .col.d-flex .wd-desc .price {
  padding-left: 20px;
  font-size: 18px;
  color: var(--bg-header);
  font-family: var(--font-paragraph);
  font-weight: 600;
}

.row-content .col.d-flex .wd-desc .price-discount {
  padding-left: 20px;
  font-size: 15px;
  font-family: var(--font-paragraph);
  font-weight: 600;
}

.row-content:nth-of-type(2) {
  margin: 30px 0;
}

.main-menu .row .col .img-coffee {
  width: 85px;
  height: 85px;
}

.main-menu .row .col {
  transition: box-shadow 0.3s ease;
}

.main-menu .row .col:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.desc-center .h4 {
  transition: color 0.3s ease;
}

.desc-center .h4:hover {
  color: var(--bg-header);
}

/* product */
.container-fluid .product {
  padding: 37px 0 80px;
}

.product .row .col {
  margin: 0 15px;
  border: 0.8px solid #eeeeee;
  height: 432px;
  transition: box-shadow 0.3s ease;
}

.product .row .col:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.product .img-product img {
  width: 100%;
  height: 332px;
}

.product .price-product {
  padding: 20px 15px;
}

.product .price-product p.h4 {
  font-family: var(--font-main-content);
  font-size: 18px;
  margin-bottom: 10px !important;
  transition: color 0.3s ease;
}

.product .price-product p.h4:hover {
  color: var(--bg-header);
}

.product .price-product p.desc {
  font-size: 18px;
  font-family: var(--font-paragraph);
  color: var(--bg-header);
  font-weight: 600;
}

.product .price-product p.price-del {
  font-size: 13px;
  font-family: var(--font-paragraph);
  margin-left: 5px;
}

.pro-items .img-product .tag {
  padding: 3px 10px;
  background: rgb(51, 51, 51);
  color: white;
  font-size: 10px;
  font-family: var(--font-paragraph);
  top: 12px;
  right: 12px;
}

.pro-items .img-product .sale {
  top: 12px;
  right: 12px;
}

.pro-items .img-product .sale .tag-sale {
  margin-top: 8px;
}

/* btn */
.container .btn-custom {
  margin-top: 40px;
  width: 150px;
  height: 50px;
  background: var(--bg-header);
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.container .btn-custom p.desc {
  color: white;
  font-family: var(--font-paragraph);
}

.container .btn-custom:hover {
  background-color: #bd2900;
}

/* feedback */
.feedback .background-feedback {
  height: 513px;
}

.feedback .overlay-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/content/background_feedback.jpg);
  filter: brightness(0.7);
  opacity: 0.5;
  z-index: -1;
}

.container .header-feedback p.h4 {
  margin-bottom: 13px;
  font-family: var(--font-main-content);
  font-size: 30px;
  color: black !important;
}

.container .header-feedback p.desc {
  margin-bottom: 20px;
  font-family: var(--font-paragraph);
  font-size: 14px;
  color: black !important;
}

.container .items-img img {
  height: 100px;
  width: 100px;
  margin: 30px 0;
}

.container .footer-feedback p.desc {
  width: 1008px;
  color: black !important;
  padding: 0 0 32px;
}

.container .footer-feedback p.h5 {
  font-size: 14px;
  font-family: var(--font-main-content);
  color: black !important;
}

/* activity */
.container.activity {
  padding: 37px 0 0px !important;
}

.container.activity .row {
  margin: 0 20px !important;
}

.container.activity .row .col-lg-4.col-6 {
  padding: 15px 15px !important;
}

.activity img.acti-items {
  height: 455px;
  object-fit: cover;
  border: 0.8px solid #eeeeee;
  transition: box-shadow 0.3s ease;
}

.activity img.acti-items:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.activity .info-items .bg-items {
  border-left: 0.8px solid #eeeeee;
  left: 0px;
  right: -1px;
  bottom: 0px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  transition: background-color 0.4s ease, backdrop-filte 0.4s ease;
}

.activity .info-items:hover .bg-items {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.activity .info-items {
  padding: 0 10px;
  height: 80px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.activity .info-items .title-name p.h4 {
  font-size: 20px;
  margin-bottom: 13px !important;
  font-family: var(--font-main-content);
  font-weight: 700;
  transition: color 0.3s ease;
}

.activity .info-items .title-name p.h4:hover {
  color: var(--bg-header);
}

.activity .info-items .title-name p.desc {
  font-size: 14px;
  font-family: var(--font-paragrapht);
}

.activity .info-items .find {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.activity .info-items .find:hover {
  background-color: #363636;
  color: white;
}

/* pointer */
.activity .info-items .title-name p.desc,
.activity .info-items .title-name p.h4,
.activity .info-items .bg-items,
.activity .info-items .find,
.activity .info-items .find i,
.activity img.acti-items {
  cursor: pointer;
}

/* interested */
.container-fluid .interested {
  padding-top: 37px;
}

.container-fluid .interested .row {
  gap: 30px;
  padding: 0 30px;
}

.interested .col {
  border: 0.8px solid #eeeeee;
}

.interested .col .pro-items {
  padding: 10px;
  height: 468px;
}

.interested .col .pro-items .img-interes img {
  width: 378px;
  height: 252px;
  object-fit: cover;
  background-size: cover;
  transition: transform 0.5s ease;
}

.interested .col .pro-items .img-interes img:hover {
  transform: scale(1.07);
}

.interested .content-items {
  padding: 20px 10px 10px !important;
}

.interested .content-items p.h4 {
  font-family: var(--font-main-content);
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 0.8px solid #eeeeee;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.interested .content-items p.h4:hover {
  color: var(--bg-header);
}

.interested .content-items p.date {
  font-size: 13px;
  color: #919090;
  font-family: var(--font-paragrapht);
  margin-bottom: 15px;
}

.interested .content-items p.desc {
  font-size: 14px;
  font-family: var(--font-paragraph);
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.interested .content-items .btn-customs {
  margin-top: 15px;
  border: 0.8px solid #eeeeee;
  padding: 12px 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.interested .content-items .btn-customs:hover {
  background-color: var(--bg-header);
  color: white;
}

.interested .content-items .btn-customs .btn-desc {
  font-size: 14px;
  font-family: var(--font-paragraph);
}

/* pointer */
.img-interes img,
.content-items p.h4,
.content-items .btn-customs,
.content-items .btn-customs .btn-desc {
  cursor: pointer;
}
