:root {
  --font-header: "Roboto", sans-serif;
  --font-main-content: "Oswald", sans-serif;
  --font-paragraph: "Open Sans", sans-serif;
  --bg-header: #d93a10;
  --bg-main-menu: rgb(250, 250, 250);
}

/* ======common======= */
p {
  margin: 0;
  line-height: 1;
}

/* html,
body {
  overflow-x: hidden;
} */

/* ====header==== */
.container-fluid .row.header {
  height: 30px;
  background-color: var(--bg-header);
  font-family: var(--font-header);
}

/* ====nav==== */
.navbar-custom {
  height: 100px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-custom .logo {
  margin-left: 30px;
  height: 100%;
  font-family: "Oswald", sans-serif;
}

.navbar-custom .icon {
  margin-right: 25px;
  height: 100%;
}

.navbar-custom .nav-content {
  gap: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-custom .nav-content p.desc:first-child {
  color: var(--bg-header);
}

.navbar-custom .nav-content p:hover {
  color: var(--bg-header);
}

/* cursor */
.navbar-custom .logo p,
.navbar-custom .nav-content,
.navbar-custom .icon {
  cursor: pointer;
}

/* sticky navbar */
.navbar-custom.sticky-top {
  background-color: white;
  top: 0;
  z-index: 1020;
}

/* position cho shoppping */
.icon span.position-absolute {
  width: 22px;
  height: 22px;
  top: -14px;
  right: -9px;
  font-size: 13px;
  background-color: red;
  color: white;
  font-weight: 100;
  border: 1px solid white;
}

/* img - content */
.container-fluid .img-content {
  width: 100%;
  height: 560px;
  max-height: 560px;
  background-size: cover;
  /* padding-bottom: 40px; */
}

.navbar-custom .icon i {
  transition: color 0.2s ease;
}
.navbar-custom .icon i:hover {
  color: var(--bg-header);
}

/* =====main====== */
.container-fluid .text-header .text-center {
  color: var(--bg-header);
  padding: 60px 0 20px;
}

.container-fluid .main-header p.h1 {
  font-family: var(--font-main-content);
  padding-bottom: 13px;
}

/* main-content */
.container-fluid .row.main-content {
  /* height: 640px;
  max-height: 640px; */
  padding: 42px 0 80px;
  gap: 40px;
}

/* icon */
.main-content .main .main-icon .icon {
  width: 50px;
  height: 50px;
}

.main .text-main-content p.h4 {
  font-family: var(--font-main-content);
  margin-bottom: 13px;
  padding-bottom: 0;
}

.main .text-main-content p.desc {
  font-family: var(--font-paragraph);
  padding-bottom: 16px;
  font-size: 14px !important;
}

.main-content .main.d-flex {
  gap: 20px;
  height: 160px;
  width: 350px;
}

/* main menu */
.container-fluid .header-main-menu,
.container-fluid .main-menu {
  background-color: var(--bg-main-menu);
}

.container-fluid .main-menu {
  /* padding-top: 50px; */
  padding: 50px 0 80px 0;
  row-gap: 30px;
}

.row-content .desc-center p.h4 {
  font-size: 20px;
  font-family: var(--font-main-content);
}

.row-content .desc-center p.desc {
  font-size: 14px;
  font-family: var(--font-paragraph);
}

/* wh cho 6 items */
.main-menu .row.row-content .col {
  /* width: 615px; */
  height: 125px;
  /* padding: 0 15px; */
  margin: 0 15px;
  border: 0.8px solid #eeeeee;
}

.main-menu .row .col .desc-center {
  box-sizing: content-box;
  width: 352px;
  height: 77px;
  padding: 0 15px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.row-content .col.d-flex .wd-desc {
  width: 510px;
  height: 86px;
}

.row-content .col.d-flex .wd-desc .border-height {
  border: none;
  width: 1px;
  height: 50px;
  background: #eeeeee;
}

.row-content .col.d-flex .wd-desc .price {
  padding-left: 20px;
  font-size: 18px;
  color: var(--bg-header);
  font-family: var(--font-paragraph);
  font-weight: 600;
}

.row-content .col.d-flex .wd-desc .price-discount {
  padding-left: 20px;
  font-size: 15px;
  font-family: var(--font-paragraph);
  font-weight: 600;
}

.row-content:nth-of-type(2) {
  margin: 30px 0;
}

.main-menu .row .col .img-coffee {
  width: 85px;
  height: 85px;
}

.main-menu .row .col {
  transition: box-shadow 0.3s ease;
}

.main-menu .row .col:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.desc-center .h4 {
  transition: color 0.3s ease;
}

.desc-center .h4:hover {
  color: var(--bg-header);
}
